<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <div>
  <div id="donutchart" style="width: 300px; height: 300px;"></div>
</div>
  <div>
  <canvas id="lineChart" style="width: 300px; height: 300px;"></canvas>
</div>
<div>
  <canvas id="barChart" style="width: 300px; height: 300px;"></canvas>
</div>
    <div>
  <canvas id="pieChart" style="width: 300px; height: 300px;"></canvas>
</div>
</div>
</div>


<router-outlet></router-outlet>
