<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-barchart></app-barchart>
  <div>
    <div id="donutchart" style="width: 900px; height: 500px;"></div>
  </div>
  <div>
    <canvas id="lineChart" style="width: 900px; height: 500px;"></canvas>
  </div>
  <div>
    <canvas id="barChart" style="width: 900px; height: 500px;"></canvas>
  </div>
  <div>
    <canvas id="pieChart" style="width: 300px; height: 300px;"></canvas>
  </div>
</div>


<router-outlet></router-outlet>
